{% extends "template_padre.html" %}
{% load static %}


{% block detalle %}

<h1 class="mb-5">Equipos</h1>
                            
{% endblock %}

{% block formulario %}

<h1>Formulario para carga de equipos</h1>

<form action="{% url 'equipoFormulario' %}" method="POST"> {% csrf_token %}

<p> Nombre:<input type="text" name="nombre">    </p>
<p> Pais:<input type="text" name="pais">    </p>
<p> Fundacion:<input type="text" name="fec_fundacion">    </p>


<input type="submit" value="Agregar equipo">


</form>
{% endblock %}
