{% extends "template_padre.html" %}
{% load static %}


{% block familia_detalle %}

<h1>Grupo familiar:</h1>

<h2>Hermano: </h2>
<p> Nombre: {{ nom_hermano }} </p>
<p> Edad: {{ edad_hermano }} </p>
<p> Fecha de nacimiento: {{ fec_nac_hermano }}</p>

<h2>Padre: </h2>
<p> Nombre: {{ nom_padre }}</p>
<p> Edad: {{ edad_padre }}</p>  
<p>Fecha de nacimiento: {{ fec_nac_padre }}</p>

<h2>Madre: </h2>
<p>Nombre: {{ nom_madre }} </p>
<p>Edad: {{ edad_madre }} </p>
<p>Fecha de nacimiento: {{ fec_nac_madre }}</p> 

{% endblock %}
