<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Grupo familiar:</h1>

<h2>Hermano: </h2>
<p>Nombre: {{ nom_hermano }} </p>
<p>Edad: {{ edad_hermano }} </p>
<p>Fecha de nacimiento: {{ fec_nac_hermano }}</p>

<h2>Padre: </h2>
<p> Nombre: {{ nom_padre }}</p>
<p> Edad: {{ edad_padre }}</p>  
<p>Fecha de nacimiento: {{ fec_nac_padre }}</p>

<h2>Madre: </h2>
<p>Nombre: {{ nom_madre }} </p>
<p>Edad: {{ edad_madre }} </p>
<p>Fecha de nacimiento: {{ fec_nac_madre }}</p>


</body>
</html>